.sidebar{
    
    width: 30vh;
    /* border: 1px solid black; */
    
}

.header{
    text-align: center;
    font-weight: 800;
    font-size: 18px;

}


.content{
    /* border: 1px solid grey; */
    width: 100%;
    text-align: center;
    margin: 10px;
    cursor: pointer;
}

.currentContent{
    font-weight: 800;
    border: 1px solid grey;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    
}